body{
    margin: auto;
    text-align: center;
}
#wrapper{
    margin: auto;
}
.box1{
    border-radius: 25px;
    
    width: 400px;
    padding: 20px;
    display: inline-block;
}
.box2{
    border-radius: 25px;
    
    width: 400px;
    padding: 20px;
    display: inline-block;
}